
name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  devsecops:
    runs-on: ubuntu-latest
    steps:
      - name: Print Secrets and Variables
        env:
          MY_SECRET: ${{ secrets.NAME }}
          MY_VARIABLE: ${{ vars.ADD }}
        run: |
          echo "Secret (masked): $MY_SECRET"
          echo "Variables: $MY_VARIABLE"
