name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  devsecops:
    runs-on: ubuntu-latest
    steps:
      # Print variables
      - name: Print Secrets and variables data
        run: |
          echo "Secrets are ${{secrets.NAME}}"
          echo "variables are ${{vars.ADD}}"
